@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sheila", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

/* a:hover {
    opacity: 0.5;
} */

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから */

html {
    scroll-behavior: smooth;
    /* スムーズにスクロールさせるコード */
}

body {
    background: #e7e7e7;
}

.menubar {
    max-width: 1000px;
    display: flex;
    margin: auto;
    margin-bottom: 70px;
    /* MENUbar追跡 ↓２つ*/
    position: fixed;
    width: 100%;
}

/* ロゴ指定 */
.pc_logo img {
    text-align: left;
    margin-left: 150px;
    margin-top: 80px;
    display: block;
}

.sp_logo {
    display: none;
}

.sp_nav {
    display: none;
    z-index: 1000;
}


.pc_nav {
    text-align: right;
    margin-top: 80px;
    margin-bottom: 50px;
    justify-content: space-between;
    z-index: 1000;
}

.pc_nav ul {
    margin: 0;
    padding: 0;
    font-family: 游明朝;
    font-size: 15px;
    display: flex;
    margin-left: 450px;
}

.pc_nav ul li {
    margin-right: 90px;
    list-style: none;
    display: inline-block;
    /* ここで項目の幅を指定します */
}

.pc_nav ul li a {
    text-decoration: none;
    color: #333;
}

/* メニュー　hover時に下線を出す */
.pc_nav li:hover {
    border-bottom: 2px solid #b0c0c7;
    /* 下線の太さや色を指定 */
}